name: Build Data Analyser Image

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/data-analyser

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: make docker-local tag=0.0.1
